<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Client.Pcl" version="4.0.31" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="ServiceStack.Interfaces" version="4.0.31" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="ServiceStack.Text.Pcl" version="4.0.31" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
</packages>